<div class="container mt-4">
    
    <div class="row" *ngFor="let item of allGroups">
        
        <div class=" caja col-md-12 col-xl-6">
            <div class="disco">
                <img  class="portada" src="{{item.foto}}" alt="novedad" width="100%">
                <div class="titulo">{{item.nombre}}</div>
            </div>
        </div>
       
            <div class=" col-md-12 col-xl-6">
               {{item.bio}}
            </div>
        

        <hr class="mt-4 mb-4">
    </div>

</div>



