<!--
  https://github.com/angular/angularfire/blob/master/docs/install-and-setup.md
Una vez creado el proyecto:
1
ng add @angular/fire (si es necesario se le da 2 veces)

2
Se añade el firebaseConfig en environment y app.module.ts
se importan los ficheros y se añaden en el import del NgModule lo indicado por la web

3
En app.component.ts se añade el constructor, se importa y se añade el item


4
Para generar el fichero donde tipearemos el usuario ponemos lo siguiente en la terminaly se creara dentro de app
  ng generate interface shared/models/user

Crearemos otra carpeta con ficheros para guardar la lógica de autentificación
ng generate service shared/services/auth y aquí en el contructor ponemos el private del o que quermos usar


5
Después de crear los componentes creamos el service para meter la lógica:
ng generate service series, series seria el nombre pero se puede cambiar a otro más descriptivo,
en app.module.ts se añade
import { HttpClientModule } from '@angular/common/http'; arriba y
HttpClientModule; en la parte de abajo en imports


6
Vamos a validar formularios (ReactiveFormsModule y FormsModule)
importamos los modular en app.module.ts
import { FormsModule, ReactiveFormsModule } from '@angular/forms';
en imports de la parte de abajo ponemos:
FormsModule,
ReactiveFormsModule

-->
<cabecera></cabecera>
<router-outlet></router-outlet>
<app-footer></app-footer>