<!--
  https://github.com/angular/angularfire/blob/master/docs/install-and-setup.md
Una vez creado el proyecto:
1
ng add @angular/fire (si es necesario se le da 2 veces)

2
Se añade el firebaseConfig en environment y app.module.ts
se importan los ficheros y se añaden en el import del NgModule lo indicado por la web

3
En app.component.ts se añade el constructor, se importa y se añade el item


4
Para generar el fichero donde tipearemos el usuario ponemos lo siguiente en la terminaly se creara dentro de app
  ng generate interface shared/models/user

Crearemos otra carpeta con ficheros para guardar la lógica de autentificación
ng generate service shared/services/auth y aquí en el contructor ponemos el private del o que quermos usar


5
Después de crear los componentes creamos el service para meter la lógica:
ng generate service series, series seria el nombre pero se puede cambiar a otro más descriptivo,
en app.module.ts se añade
import { HttpClientModule } from '@angular/common/http'; arriba y
HttpClientModule; en la parte de abajo en imports


6
Vamos a validar formularios (ReactiveFormsModule y FormsModule)
importamos los modular en app.module.ts
import { FormsModule, ReactiveFormsModule } from '@angular/forms';
en imports de la parte de abajo ponemos:
FormsModule,
ReactiveFormsModule

7
Se añade firebaseStorage con el comando
ng add @angular/fire

8
Creamos el servicio de auth service para importar en app.module.ts 
las autentificacioens etc
y metemos lo siguiente
providers: [
    AuthService,
    { provide: BUCKET, useValue: environment.firebaseConfig.storageBucket }
  ],
  e importamos los siguientes modulos


9
Para cada colección creamos un servicio, en este caso como ejemplo grupos, en el que tendremos la lógica para acceder a firebase
ng generate service shared/services/grupos

10
Dentro de la carpeta shared tendremos:
la carpeta service, la cual tiene los servicios, dentro de de service un fichero.ts por cada logica que tengamos
la carpeta model, el cual tendra un fichero.ts que contendra una Clase a exportar que se usara de modelo que deba tener firebase

11
En el componente.ts donde queramos importar el servicio lo ponemos en el constructor
constructor (private gruposService:GruposService)

12
Probar el loadGroups:
loadGroups(){
    this.gruposService.readAllPost().subscribe( data=>{
      console.log(data)
    })
  }
-->
<cabecera></cabecera>
<router-outlet></router-outlet>
<app-footer></app-footer>