


.body{
    padding-top:50px;
    
    .container{
        padding-left:0px;
    padding-right:0px;
        
        //display:grid;
        //grid-template-columns: repeat(3,1fr);   //3 columnas con mismo ancho

        
                .novedad{
                    border:1px solid black;

                    object-fit:cover;//la imagen no se distorsiona
                }
            
        
    }
}



footer{
    background:#a52a2a;
    width:150px;
}
