<div class="body" style="background-color:#c5afaf59">
    <div class="container">
        <div class="row mb-4">
            
            <h3>Destacado del mes</h3>
            
                
                
                    
            <div class="disco col-xs-12 col-md-12 col-lg-6 col-xxl-6" >
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC</div>
                    </div>
                </div>
                
                
            </div>
            <div class="presentacion col-xs-12 col-md-12 col-lg-6 col-xxl-6">
                El siguiente texto debería mostrarse a la derecha de la imagen, pero algo falla ya que se empieza a mostrarse detrás de esta
                El siguiente texto debería mostrarse a la derecha de la imagen, pero algo falla ya que se empieza a mostrarse detrás de esta
                El siguiente texto debería mostrarse a la derecha de la imagen, pero algo falla ya que se empieza a mostrarse detrás de esta

            </div>
                        
                        
               
        </div>
<!--
         <div class="carousel-item">
            <img  class="portada col-xxl-2 col-md-4 mt-1 ml-1" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
            <img  class="portada col-xxl-2 col-md-4 mt-1 ml-1" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">

            <img  class="portada col-xxl-2 col-md-4 mt-1 ml-1" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">

         </div>
        <div class="row mb-4">
            <h3>Novedades</h3>

            <h4>Rock</h4>
            <div class="caja">
               
                <div class="disco">
                    <img  class="portada col-xxl-2 col-md-4 mt-1 ml-1" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                    <div class="titulo">AC DC  2</div>
                </div>
                  
                <div class="disco">
                    <img  class="portada col-xxl-2 col-md-4 mt-1 ml-1" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                    <div class="titulo">AC DC3</div>
                </div>

                <div class="disco">
                    <img  class="portada col-xxl-2 col-md-4 mt-1 ml-1" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                    <div class="titulo">AC DC4</div>
                </div>
           
            </div>
        </div>    
        
        
        <div class="row">
            <h4>Jazz</h4>
            <div class="caja">
                <div class=" disco col-md-4  novedad">
                    <div class="titulo">AC DC5</div>
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/1280px-coldplay-global-citizen-festival-hamburg-14-1525949935.jpg?crop=1.00xw:0.754xh;0,0.193xh&resize=980:*" alt="rock" width="100%">
                </div>
                <div class=" disco col-md-4  novedad">
                    <div class="titulo">AC DC6</div>
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-841024760-1525950386.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="rock" width="100%">
                </div>
                <div class=" disco col-md-4 novedad ">
                    <div class="titulo">AC DC7</div>
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-841024760-1525950386.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="rock" width="100%">
                </div>
            </div>
                
            </div>
            <div class="row">
                <h4>EDM</h4>
                <div class="caja">
                    <div class="col-md-4  col-xxl-4 novedad">4
                        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/1280px-coldplay-global-citizen-festival-hamburg-14-1525949935.jpg?crop=1.00xw:0.754xh;0,0.193xh&resize=980:*" alt="rock">
                    </div>
                    <div class="col-md-4 col-xxl-4 novedad">5
                        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-841024760-1525950386.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="rock">
                    </div>
                    <div class="col-md-4 col-xxl-4 novedad">6
                        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-841024760-1525950386.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="rock">
                    </div>
                </div>
                
            </div>
       
        
        
    </div>
    -->
cuenta
    <carousel [cellsToShow]="5" [loop]="true"  [autoplay]="true" [autoplayInterval]="4000" [pauseOnHover]="true" class="carousel-inner">
        <div class="carousel-item active">
            <div class="caja1">
                <div class="disco1">
                    <img  class="portada1" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                    <div class="titulo1">AC DC1</div>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="caja1">
                <div class="disco1">
                    <img  class="portada1" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                    <div class="titulo1">AC DC2</div>
                </div>
            </div>
        </div>

        <div class="carousel-item active">
            <div class="caja1">
                <div class="disco1">
                    <img  class="portada1" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                    <div class="titulo1">AC DC3</div>
                </div>
            </div> 
        </div>


        <div class="carousel-item active">
            4<img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">

        </div>
        <div class="carousel-item active">
            5<img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">

        </div>

        <div class="carousel-item active">
            6<img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
        </div>


        <div class="carousel-arrows">
            <div class="carousel-arrow carousel-arrow-prev"></div>
            <div class="carousel-arrow carousel-arrow-next"></div>
        </div>
    </carousel>
    

    <h3 class="mt-4">Novedades</h3>
    <div class="row m">
        <h4 mb-2>Rock</h4>
        <carousel [cellsToShow]="5" [loop]="true"  [autoplay]="true" [autoplayInterval]="4000" [pauseOnHover]="true" class="border-1px-solid-yellow">
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC1</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC2</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>

            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>

            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://static.guiainfantil.com/uploads/navidad/ninos-cantan-villancico-p.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>
        </carousel>
    </div>
    

    
    <div class="row justify-content-center">
        <h4 mb-2>Jazz</h4>
        <carousel [cellsToShow]="5" [loop]="true"  [autoplay]="true" [autoplayInterval]="4000" [pauseOnHover]="true" class="border-1px-solid-yellow">
                       <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC1</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC2</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>

            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>

            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://los40es00.epimg.net/los40/imagenes/2019/02/28/musica/1551380649_095150_1551380782_noticia_normal.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="caja">
                    <div class="disco">
                        <img  class="portada" src="https://static.guiainfantil.com/uploads/navidad/ninos-cantan-villancico-p.jpg" alt="novedad" width="100%">
                        <div class="titulo">AC DC3</div>
                    </div>
                </div>
            </div>
        </carousel>
    </div>
</div>
<footer>
    
</footer>
