<div class="container col-12">
    <!-- Botton modal-->
    <p><button  class="add btn btn-primary  mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Añadir nota</button></p>
    
    <!--Modal-->
        <div   class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="mensaje modal-title" id="exampleModalLabel">Nuevo anuncio</h5>
              <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="tablonForm"> <!-- Aquí metemos [formGroup]="tablonForm" para que se enlace con la logica-->
                <div class="mb-3">
                  <!-- label permite hacer focus (señalar un campo al hacer click al label de manera
                    que cuando toque titulo se marcara el input), se asocia con "for" en este caso el label se ha asocaido al input de abajo
                  mediante el id, form cControlName es lo que recoge el valor, por decir así la variable-->
                  <label for="recipient-name"  class="text-dark col-form-label">Titulo:</label>
                  <input type="text" class="form-control" formControlName="titulo" id="recipient-name">
                </div>
                <div class="mb-3">-
                  <label for="message-text"  class="text-dark col-form-label">Mensaje</label>
                  <textarea class="form-control" formControlName="contenido" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button (click)="createPostit()" type="button"  class="btn btn-primary">Añadir</button>
            </div>
          </div>
        </div>
      </div>

  <!-- Tablon-->
  <div class="row" >
     <div class="nota" *ngFor="let postit of allPostit"> <div style="border: solid 2px black; margin-bottom: 5px; background-color: rgb(241, 237, 237); padding: 10px">  
      <ul style="list-style: none">
        <li>
          <a style="text-decoration: none" href="#">
            <h2 style="text-decoration: none; color: black">{{postit.titulo}}</h2>
            <p style="text-decoration: none; color: black">{{postit.contenido}}</p>
          </a>
        </li>
      </ul>
    </div> </div>
  </div>
    
      <!--
      <li>
        <a href="#">
          <h2>{{postit.titulo}}</h2>
          <p>{{postit.contenido}}</p>
        </a>
      </li>
    
  </div>
    
        
        <li>
          <a href="#">
            <h2>Título #3</h2>
            <p>Contenido #3</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h2>Título #4</h2>
            <p>Contenido #4</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h2>Título #5</h2>
            <p>Contenido #5</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h2>Título #6</h2>
            <p>Contenido #6</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h2>Título #2</h2>
            <p>Contenido #2</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h2>Título #7</h2>
            <p>Contenido #7</p>
          </a>
        </li>
        <li>
          <a href="#">
            <h2>Título #8</h2>
            <p>Contenido #8</p>
          </a>
        </li>-->
      
</div>